
/** typography **/

*{
	font-family: arial, sans-serif;
}

a {
	text-decoration: none;
	color: #040404;
}

a:hover {
	text-decoration: underline;
}

/** Universal **/

li {
	list-style-type: none;
	display: inline-block;
	min-width: 60px;
	font-size: small;
	padding: 2.5px;
}

#nav {
	text-align: right
}

#nav ul {
	padding-right: 50px;
}

#container {
	width: 900px;
	margin: 0 auto;
}

#center {
	text-align: center;
}

#center img {
	width: 250px;
	padding-top: 150px;
}

#search_box {
	display: block;
	height: 30px;
	width: 572px;
	margin: 16px auto 8px auto;
}

.search_button {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	min-width: 60px;
	text-align: center;
	text-decoration: none;

}

#bottom_nav {
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F2F2F2;
	border-top: 1px solid rgba(0,0,0,0.1);
}

#bottom_nav_left {
	position: fixed;
	left: 0;
	bottom: 0;
}

#bottom_nav_right {
	position: fixed;
	right: 0;
	bottom: 0;
	padding-right: 40px;
}